<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Atrafa Overview</title>
    <link rel="stylesheet" href="css/styles.css?v=1.0">
</head>

<body>
{{ for v in data.villagers }}
<!--
0. Data från timestamp (när det uppdaterades sist)
1. Navigation men länkar högst upp på sidan
    - länkar: sälj, köp, vilka bor i byn
2. SÄLJ:
    2a. Bild + namn på vad som säljs, går att klicka på för en dropdown (EV: hur många går att sälja redan här i översikten)
    2b. i dropdownen:
        - hur många går att sälja?
        - vad får man? (bild, namn, siffra)
        - vem säljer? (bild, namn/yrke (lvl? om vi döper villagerna behöver de ingen lvl här)
    2c. När en klickar på t.ex länken morot, ska det då visas flera dropdowns om flera farmers köper morot?
    Eller ska det finnas t.ex. två ikoner med morötter överst ifall det är två personer som köper morot?
    2d. När en klickar på ikonen/länken "morot", och sen klickar på "rödbeta", så stängs "morot" (eller vill vi inte ha det så?)
3. KÖP:
    3a. Bild + namn på vad som går att köpa, klicka på för dropdown
    3b. i dropdownen:
        - hur många går att köpa?
        - vad kostar det att köpa?
        - vem säljer? (bild, namn/yrke (ev lvl om vi inte döper villagerna)
    3c. Förslag: om vi t.ex vill köpa ett svärd, så kollar vi vad som behövs för det.
        Det behövs t.ex 20 emeralds. Har vi inte det?
        Då kanske vi kan klicka på Emeralds för att direkt komma till en dropdown längre upp där vi ser vad vi kan sälja
        för att få emeralds?
4. VILKA BOR I BYN?
    4a. tabell/lista med alla bybor
    4b. I litan, följande info:
        - bild på villagern
        - vilket profession den har
        - vilken lvl den har
        - xp-nivå (hur långt till nästa lvl)
        - EV. vilket namn den har
        - antingen vad det går att trada med den villagern just nu,
        eller en länk direkt under knapparna "köp" och "sälj"
        i listan/tabellen kopplat till varje villager.
5. är det möjligt att se på en karta var varje villager bor? eller t.o.m. var den är just nu? isf:
    5a. karta uppifrån byn med antingen kompass eller tex pil mot vart folkets hus är
    5b. när du klickar på en villager i listan/tabellen ser du en markering på kartan var den bor/sover
6. BONUS! (är detta möjligt? projekt längre fram?)
    om det går, att antingen logga in på sidan eller se sitt namn för att direkt kunna se vad du har möjlighet att köpa/sälja
    och inte. t.ex. om du har tillräckligt med emeralds, annars blir det inaktiverat eller visas i rött
    (hämta info från inventory? eller t.om. från kistorna på din mark?
-->


{{ endfor }}
</body>
</html>