{% macro print_item(i) -%}
<img src="img/{{ i.img }}"/>{{ i.count }} {{ i.name }}
{%- endmacro %}

<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Atrafa Overview</title>
    <link rel="stylesheet" href="css/styles.css?v=1.0">
</head>

<body>
<h2>Sälj</h2>
<ul>
{% for k, v in data.buy.items() %}
    <!-- Start of buy item -->
<li>
    {{k}}
    <ul>
        {% for o in v %}
        <!-- Start of buy offer -->
            <li>
                {{ print_item(o.buy) }}
                {% if o.buyB -%}
                    , {{ print_item(o.buyB) }}
                {%- endif %}
                --> {{ print_item(o.sell) }} @ {{ o.villager.name }}
            </li>
        <!-- End of buy offer -->
        {% endfor %}
    </ul>
</li>
    <!-- End of buy item -->
{% endfor %}
</ul>

<h2>Köp</h2>
<ul>
    {% for k, v in data.sell.items() %}
    <!-- Start of sell item -->
    <li>
        {{k}}
        <ul>
            {% for o in v %}
            <!-- Start of sell offer -->
            <li>
                {{ print_item(o.buy) }}
                {% if o.buyB -%}
                , {{ print_item(o.buyB) }}
                {%- endif %}
                --> {{ print_item(o.sell) }} @ {{ o.villager.name }}
            </li>
            <!-- End of sell offer -->
            {% endfor %}
        </ul>
    </li>
    <!-- End of sell item -->
    {% endfor %}
</ul>

<h2>Vem bor i byn?</h2>
<ul>
{% for k, v in data.villagers.items() %}
    <!-- Start of villager item -->
<li>{{ k }} lvl {{ v.level }}({{ v.xp }} XP) @ {{ v.pos }}</li>
    <!-- End of villager item -->
    {% endfor %}
</ul>
</body>
</html>